In [1]:
type (123)

int

In [2]:
type('hello')

str

In [3]:
type(True)

bool

In [5]:
favorite_number = 42
n = favorite_number + 7
print(n)

49

In [6]:
x = 1
print(x)
x = x + 1
print(x)
x = x * 3 + x
print(x)

1
2
8

# Booleans

* There are 2 possible boolean values, True or False. 
* Booleans can be thought of as the answer to a yes or no question. For example:

    * is a user logged in to a webpage? is_logged_in
    * does a dataset contain missing values? has_missing_values
    
Boolean values can be compared with the == and != operators, which themselves produce a boolean value.

In [7]:
True == True

True

In [8]:
True == False

False

In [10]:
True != True

False

In [11]:
True != False

True

Boolean values can be combined with the and and or operators. and will evaluate to True if both boolean values are True, and or will evaluate to True if either boolean value is True.

The not operator takes the opposite boolean value.

In [12]:
not False

True

In [13]:
True and True

True

In [14]:
True and False

False

In [15]:
is_first_of_the_month = True
report_has_been_sent = False

should_process_report = is_first_of_the_month and not report_has_been_sent

print(should_process_report)

True

# Numbers

Python has two main types that represent numbers, int and float. The difference being that ints cannot have decimal places in them, while floats can.

You can perform arithmetic with numbers with the following operators:

Operation	Operator	Example
Addition	+	4 + 4
Subtraction	-	9 - 1
Multiplication	*	4 * 2
Division	/	16 / 2
Exponentiation	**	2 ** 3

Numbers can be compared with the following operators:

Operator	Description	Example
==	Equal to	1 == 1
!=	Not equal to	1 != 0
>	Greater than	1 > 0
<	Less than	0 < 1
>=	Greater than or equal to	1 >= 1
<=	Less than or equal to	1 <= 1

In [16]:
4 + 5 > 10 - 2

True

In [17]:
.1 + .2

0.30000000000000004

In [18]:
'hello there!'
''
'123'
"here is a number: 42. It's a nice number"

"here is a number: 42. It's a nice number"

Strings are delimeted with either single or double quotes. The only difference being that in order to have a string that contains a quote, you must either use the opposite type of quote, or escape the string. Escaping is when a character inside a string is preceded by a backslash, and it takes on a special meaning instead of a literal value.

In [19]:
print('Here is a single quote --> \' <-- ')
print("Here is a single quote --> ' <-- ")
print()
print("Here is a double quote --> \" <--")
print('Here is a double quote --> " <--')
print()
print('Newlines are indicated by the character "n" preceded by a backslash, like so')
print()
print('This string\ncontains a newline')

Here is a single quote --> ' <--
Here is a single quote --> ' <--

Here is a double quote --> " <--
Here is a double quote --> " <--

Newlines are indicated by the character "n" preceded by a backslash, like so

This string
contains a newline

In [20]:
'''
This string
can contain
a lot of
text!
'''

'\nThis string\ncan contain\na lot of\ntext!\n'

# String Formatting
It is very common that a string needs to contain the contents of a variable. There are several different ways to include variables in strings.

* % formatting: a little older, but still fairly common
* .format: a newer way to format strings
* f-strings: introduced in python 3.6; comparable to string interpolation in other languages

We'll take a look at some examples of each:

In [21]:
name = 'World'

In [22]:
'Hello, %s!' % name

'Hello, World!'

In [23]:
'Hello, {}!'.format(name)

'Hello, World!'

In [24]:
f'Hello {name}!'

'Hello World!'