# Identify the data type of the following values:

In [1]:
type(99.9)

float

In [2]:
type("False")

str

In [3]:
type(False)

bool

In [4]:
type('0')

str

In [5]:
type(0)

int

In [6]:
type(True)

bool

In [7]:
type('True')

str

In [8]:
type([{}])

list

In [9]:
type({'a':[]})

dict

# What data type would best represent:

* A term or phrase typed into a search box?
    * str
* If a user is logged in?
    * bool
* A discount amount to apply to a user's shopping cart?
    * float
* Whether or not a coupon code is valid?
    * bool
* An email address typed into a registration form?
    * str
* The price of a product?
    * float
* A Matrix?
    * list
* The email addresses collected from a registration form?
    * list or maybe a dict
* Information about applicants to Codeup's data science program?
    * dict

For each of the following code blocks, read the expression and predict what the result of evaluating it would be, then execute the expression in your Python REPL.

In [10]:
'1' + 2
# Error can't add a str to an int

TypeError: can only concatenate str (not "int") to str

In [11]:
6 % 4
# 2 because 6 divided by 4 is 1 remainder 2

2

In [12]:
# int
type(6 % 4)

int

In [13]:
# str
type(type(6 % 4))
#  type

type

In [14]:
# Error
'3 + 4 is ' + 3 + 4

TypeError: can only concatenate str (not "int") to str

In [15]:
# False
0 < 0

False

In [16]:
# False
'False' == False

False

In [17]:
# False
True == 'True'

False

In [18]:
# True
5 >= -5

True

In [19]:
# True
True or "42"

True

In [20]:
# 1
6 % 5

1

In [21]:
# False
5 < 4 and 1 == 1

False

In [22]:
# False
'codeup' == 'codeup' and 'codeup' == 'Codeup'

False

In [23]:
# True
4 >= 0 and 1 !== '1'
# SyntaxError

SyntaxError: invalid syntax (3623673722.py, line 2)

In [24]:
# True
6 % 3 == 0

True

In [25]:
# True
5 % 2 != 0

True

In [26]:
# Error
[1] + 2

TypeError: can only concatenate list (not "int") to list

In [27]:
# [1,2]
[1] + [2]

[1, 2]

In [28]:
# [2]... or [1,1]... or Error
[1] * 2
# [1, 1]

[1, 1]

In [29]:
# Error?
[1] * [2]
# Error!

TypeError: can't multiply sequence by non-int of type 'list'

In [30]:
# True
[] + [] == []

True

In [31]:
# {}
{} + {}
# Error:unsupported operandtype +: 'dict' and 'dict'

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

# Create a Python script file named 
    
   * data_types_and_variables.py 
       
   * Inside it, write some Python code, that is, variables and operators, 
       
        to describe the following scenarios. 
         
   * Do not worry about the real operations to get the values, 
       
        the goal of these exercises is to understand how 
           
        real world conditions can be represented with code.

# 1
   * You have rented some movies for your kids: 
       
       The little mermaid (for 3 days), 
       
       Brother Bear (for 5 days, they love it), and 
       
       Hercules (1 day, you don't know yet if they're going to like it). 
       
       If price for a movie per day is 3 dollars, how much will you have to pay?

In [40]:
movies = [
    {'title': 'The Little Mermaid', 'days_out': '3', 'rating': ''},
    {'title': 'Brother Bear', 'days_out': '5', 'rating': 'great'},
    {'title': 'Hercules', 'days_out': '1', 'rating': 'unknown'}]
# print (movies[0])

# print(movies['days_out'])
# ----> 7 print(movies['days_out'])
# 
# TypeError: list indices must be integers or slices, not str

= # set a counter to 0 before a loop
str # name the movies
int # days rented
* # multiply by
int or float # dollar price for rental
+= # add to the amount on each loop

int

In [66]:
price_rate = 3

little_mermaid_days = 3
hercules_days = 1
brother_bear_days = 5

In [68]:
total_price = (little_mermaid_days + hercules_days + brother_bear_days) * price_rate
print(total_price)

27

# 2

* Suppose you're working as a contractor for 3 companies: 

    * Google, Amazon and Facebook, they pay you a different rate per hour. 
    
    
        * Google pays 400 dollars per hour, 
        * Amazon 380, and 
        * Facebook 350.
    
    * How much will you receive in payment for this week? 
    
        * You worked 10 hours for Facebook, 
        * 6 hours for Google and 
        * 4 hours for Amazon.

In [ ]:
str # name the companies
int # dollars/hour
* # multiply $/hr by hrs for each job
float # hours worked
+ # add the results

In [73]:
g_rate = 400
a_rate = 380
fb_rate = 350

fb_hrs = 10
g_hrs = 5
a_hrs = 4

total_pay = (g_rate * g_hrs) + (fb_rate * fb_hrs) + (a_hrs * a_rate)

print(total_pay)

7020

# 3
* A student can be enrolled to a class 
    
    * only if the class is not full 
    
    * and the class schedule does not conflict with her current schedule.

In [ ]:
str # student name
int # num of people in class
int # max class size
>= # compare num of people in class and max class size
bool # is class full
list # all class schedule 
    float #  class time
    int # class day (1-7)
    str # class day (sun-sat)
list # class schedule for individual
    float
    int
    str
bool # is class at same time as individual's schedule

# 4
* A product offer can be applied 
    * only if people buys more than 2 items, 
    * and the offer has not expired. 
    
    * Premium members do not need to buy a specific amount of products.

In [ ]:
int # num of items in cart
float # time code since offer started
float # amount of time offer exists
bool # is amount of time longer than time alloted
> # compare time codes
bool # is premium member?
coupon_not_expired and (member or more_than_two_items)

In [64]:
username = 'codeup'
password = 'notastrongpassword'

# Create a variable that holds a boolean value for each of the following conditions:

* the password must be at least 5 characters

* the username must be no more than 20 characters

* the password must not be the same as the username

* bonus neither the username or password can start or end with whitespace

In [75]:
is_username_long_enough = len(username) >= 5 

print(is_username_long_enough)

is_username_short_enough = len(username) < 20

print (is_username_short_enough)

different = username != password

print(different)

no_spaces = username.endswith(' ') == False and \
password.endswith(' ') == False and \
username.startswith(' ') == False and \
password.startswith(' ') == False

print(no_spaces)

True
True
True
True

In [74]:
# .strip() will strip the string
'   like this   '.strip()

'like this'